* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
}

#showcase {
  background-image: url(../img/beachshowcase.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
}

#showcase p {
  margin-bottom: 1rem;
  font-size: 20px;
}

.btn {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #926239;

  margin-top: 1rem;
  border: #926239 1px solid;
  border-radius: 100px;
  font-size: 18px;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #926239;
  color: #fff;
}

#section-a {
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  background: #926239;
  color: #fff;
  text-align: center;
}

#section-b {
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  background: #f4f4f4;

  text-align: center;
}

#section-c {
  display: flex;
}

#section-c div {
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

#section-c .box-1,
#section-c .box-3 {
  background-color: #926239;
  color: #fff;
}

#section-c .box-2 {
  background-color: #f9f9f9;
}
